---
import type { ForkType } from "../../data/forks";

interface Props {
  fork: ForkType;
}

const { fork } = Astro.props;
---

<div>
  <h3>{fork.name}</h3>
  <div class="content">
    <p>
      <b>アップストリーム</b>
    </p>
    <p>
      <a href={`https://github.com/${fork.upstream.repo}/tree/${fork.upstream.branch}`}>
        {fork.upstream.repo}:{fork.upstream.branch}
      </a>
      <img src={`https://img.shields.io/github/last-commit/${fork.upstream.repo}/${fork.upstream.branch}`} 
        alt={`Last commit of ${fork.upstream.repo}`}
        class="manual"
      />
    </p>
    <p>
      <b>ダウンストリーム</b>
    </p>
    <p>
      <a href={`https://github.com/${fork.downstream.repo}/tree/${fork.downstream.branch}`}>
        {fork.downstream.repo}:{fork.downstream.branch}
      </a>
      <img src={`https://img.shields.io/github/last-commit/${fork.downstream.repo}/${fork.downstream.branch}`} 
        alt={`Last commit of ${fork.downstream.repo}`}
        class="manual"
      />
    </p>
    <p><b>アップストリームの概要</b></p>
    <p><q>{fork.description}</q></p>
    <p><b>変更点・変更理由</b></p>
    <p>{fork.change}</p>
  </div>
</div>

<style>
img.manual {
  vertical-align: sub;
}
.content {
  margin-left: 1em;
}
</style>
