---
import { Icon } from 'astro-icon/components';
import { type Project, getSinceUntilText } from '../../data/projects';
import Badge from '../Badge.astro';

interface Props {
  pj: Project;
  showDate?: boolean;
}

const { pj, showDate } = Astro.props;
const dateText = showDate ? getSinceUntilText(pj.since, pj.until) : undefined;
---

<div class="pj-root">
  <div class="pj-title-wrapper">
    {pj.repo && <a href={pj.repo} class="repo"><Icon name="simple-icons:github" title="GitHub" size="1.25em"/></a>}
    <h3>{pj.name}</h3>
    <span class="badges">
      {pj.technologies?.map(t => 
        <Badge t={t} />
      )}
    </span>
    { (dateText && dateText.length > 0) &&
    <span class="date">
      {dateText}
    </span>
    }
  </div>
  <p>
    {pj.description}
    {pj.url && <><br /><a href={pj.url} class="details-link">詳細...</a></>}
  </p>
</div>

<style>
h3 {
  display: inline;
}
.pj-title-wrapper {
  margin-bottom: 0.7em;
}
.repo {
  color: var(--font-color);
  z-index: 1;
  position: sticky;
}
.pj-root {
  position: relative;
}
a.details-link {
  display: block;
}
a.details-link::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
span.badges {
  padding-left: 1rem;
}
span.date {
  padding-left: 1rem;
  color: var(--color-grey);
  font-size: 1.4rem;
}
</style>
