---
import Layout from './Layout.astro'
import { projects, getSinceUntilText } from '../data/projects'
import { Icon } from 'astro-icon/components';
import Badge from '../components/Badge.astro';
import Link from '../components/Link.astro';

/* プロジェクトの詳細ページで用いるレイアウト */
interface Props {
  frontmatter: {
    // プロジェクトの名前。src/data/projects.ts に定義されているものと一致させる
    name: string,
  }
}

const { frontmatter } = Astro.props;
const pj = projects.find(pj => pj.name === frontmatter.name);
---


<Layout title={frontmatter.name}>
  <div>
    <h1>{frontmatter.name}</h1>
    <span>
      {pj?.technologies?.map(t => 
        <Badge t={t} />
      )}
    </span>
  </div>
  <div>
  {pj?.repo && <Link url={pj.repo}><Icon name="simple-icons:github" size="1em"/> GitHub</Link>}
    {(pj?.since || pj?.until) && <><Icon name="carbon:calendar" />{getSinceUntilText(pj?.since, pj?.until)}</>}
  </div>
  {pj?.releases && <details>
    <summary>更新履歴</summary>
    <ul>
      {pj.releases.map(r =>
      <li>{r.date} - {r.version}</li>
      )}
    </ul>
  </details>}
  <hr/>
  <slot />
</Layout>

<style>
h1 {
  display: inline;
  padding-right: 1rem;
}
</style>
